/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  color: white;
}

.field{
  border: 2px solid black;
  border-radius: 10px;
  background-color: #dfdfdf;
}
.formDiv{
  padding: 30px;
}
button{
  color: white;
  background-color: #0d75c7;
  padding: 2px 8px 2px;
  border: 2px solid #0d75c7;
  text-align: center;
  transition: all 0.3s;
  font-weight: bold;
}
.btn1{
  border-radius: 10px;
  margin-left: 5px;
}
.btn2{
  border: 2px solid #9a26f9;
  background-color: #9a26f9;
}
.btn2:hover{
  border: 2px solid #9a26f9;
}
.btn1:hover{
  border: 2px solid #0d75c7;
  background-color: transparent;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.btn1:disabled{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed !important;
  display: none;
  }
.radioDiv{
  margin-right: 10px;
}
.table{
  table-layout: fixed;
}
.table td{
  overflow: hidden;
  word-break:break-all;
}
.tabHed{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.li{
  text-decoration: none;
  color: #FFF;
  margin-right: 20px;
}
